POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=events
POSTGRES_USER=etl_user
POSTGRES_PASSWORD=etl_password
MSSQL_HOST=mssql
MSSQL_PORT=1433
MSSQL_DB=events_dw
MSSQL_USER=sa
MSSQL_PASSWORD=YourStrong!Passw0rd
BATCH_SIZE=10000
SRC_TABLE=src_events
DST_TABLE=dbo.dst_events
WATERMARK_FIELD=updated_ts
KEY_FIELD=event_id
CURSOR_VARIABLE=src_events_to_dst_events_cursor